html, body {
	height:100%;
	margin:0;
	border:0;
}
#visits-grid .x-grid3-header, #surg-grid .x-grid3-header, #med-grid .x-grid3-header  {
    background: #f9f9f9 url(images/hrow.gif) repeat-x left top;
}
.x-grid3-body .x-grid3-td-visit-col .x-grid3-cell-inner {
    padding: 1px 0 0 0 !important;
}

.x-grid3-body .x-grid3-cell-inner {
    padding: 1px 0 0 0 !important;
}

.x-grid3-dirty-cell {
    background:transparent;
}

.icon-report {
    background-image:url(images/icon-active.gif) !important;
}
.icon-delete {
    background-image:url(images/delete.gif) !important;
}
.icon-edit {
	background-image:url(images/edit.gif) !important;
}
.icon-folder {
	background-image:url(images/icon-folder.gif) !important;
}
.icon-folder-new {
	background-image:url(images/icon-folder-new.gif) !important;
}
.icon-folder-delete {
	background-image:url(images/icon-folder-delete.gif) !important;
}
.icon-paste-new {
	background-image:url(images/icon-paste-new.gif) !important;
}
.icon-list {
	background-image:url(images/icon-list.gif) !important;
}
.icon-multi-list {
	background-image:url(images/icon-multi-list.gif) !important;
}
.icon-list-new {
	background-image:url(images/icon-list-new.gif) !important;
}
.icon-list-delete {
	background-image:url(images/icon-list-delete.gif) !important;
}

.icon-by-date {
    background-image:url(images/icon-by-date.gif) !important;
}
.icon-by-category {
    background-image:url(images/icon-by-category.gif) !important;
}
.icon-no-group {
    background-image:url(images/icon-no-group.gif) !important;
}
.icon-save {
    background-image:url(images/save.gif) !important;
}

.icon-filter  {
    background-image:url(images/icon-filter.gif) !important;
}
.x-panel-trans {
	background:transparent;
}

.x-layout-split-west {
	cursor:move;
    width:4px;
}
.x-panel-header-text {
	color:#3764A0;
}
#main-tb {
	background-position:0 -1px;
}

#list-tree .x-tool {
    background-image:url(ext-2.0/resources/images/default/panel/tools-sprites-trans.gif);
}

/*#list-tree .special-node span {
    font-style:italic;
}*/

#list-tree .x-panel-body {
    background-color:white;
    position:relative;
    padding:3px 1px 3px 1px;
}
#list-tree .x-tree-node-el{
    border:1px solid #fff;
}

#list-tree  .x-tree-selected {
    border:1px dotted #a3bae9;
    background:#DFE8F6;
}
#list-tree  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#1E4176;
    font-weight:bold;
}

#list-tree  .x-node-ctx {
    border:1px dotted #aaa;
    background:#eee;
}
/*
#list-tree .x-tree-elbow-line, #list-tree .x-tree-elbow, #list-tree .x-tree-elbow-end, #list-tree .x-tree-elbow-plus, #list-tree .x-tree-elbow-minus, #list-tree .x-tree-elbow-end-plus, #list-tree .x-tree-elbow-end-minus{
	width:4px;
}*/


/*.x-layout-collapsed-west {
	background-image:url(images/my-lists.png);
	background-repeat:no-repeat;
	background-position: center;
}*/

.x-panel-header .x-panel-header-text {
	color: #15428b;
}
.x-panel-header {
	background-image:url(images/panel-header.gif);
}


.x-grid3:not(input) {
    -khtml-user-select: none;
}
.x-tree:not(input) {
    -khtml-user-select: none;
}

.x-menu-item-icon {
	background-position:center 0;
}

.x-item-disabled .x-btn-center .x-btn-text{
	opacity: .6;
}

.x-form-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.ext-safari .x-form-field-wrap .x-form-trigger{
    height:19px; 
}
.x-tree-selector .x-tree-node-el {
	border:1px solid #fff;
}
.x-tree-selector .x-tree-activated {
	border:1px dotted #999 !important;
}
.x-tree-menu {
   padding:0 !important;
}

.x-menu-item-active {
	background: #ebf3fd;
	border:1px solid #aaccf6;
	padding: 0;
}
.x-panel-header {
    height:16px;
}

.x-menu-sep {
	overflow:hidden;
	height:1px;
	margin: 1px 3px;
}
.x-rbtn {
	table-layout:fixed;
}
.x-rbtn td {
	width:24px;
	height:21px;
	background-image:url(images/rbtn.gif);
	background-repeat:no-repeat;
	padding:0;
	vertical-align:middle;
	border:0 none;
}
.x-rbtn td.x-rbtn-first {
	background-position: 0 0;
}
.x-rbtn td.x-rbtn-item {
	background-position: 0 -42px;
}
.x-rbtn td.x-rbtn-last {
	background-position: right -21px;
}
.x-rbtn td.x-rbtn-first-active {
	background-position: 0 -63px;
}
.x-rbtn td.x-rbtn-item-active {
	background-position: 0 -105px;
}
.x-rbtn td.x-rbtn-last-active {
	background-position: right -84px;
}
.x-rbtn button{
    background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	padding: 0;
	margin:0;
    border:0 none;
    cursor:pointer;
	width:24px;
	height:16px;
    -moz-outline:0 none;
    outline:0 none;
	font-size:1px;
	line-height:1px;	
}

.NOTE .x-grid3-cell-inner {
    text-decoration:italics;
    color:gray;
}

div.report h2 {
	font-size: 123.1%;
	padding: 0 0 0.5em 0; 
	font-weight: bold; 
	clear: left;
}
div.report dl + h2 {
	padding: 1em 0 0 0;
}
div.report h3 {
	font-size:108%;
	padding: 0.5em 0 0 0; 
	font-weight: bold; 
	clear: left;
}
div.report dl {
	width: 200px;
}
div.report dl dt { 
	float: left;
	clear: left;
	width: 155px;
}
div.report dl dd { 
	margin-left:1em; 
	float: left;
	font-weight: bold; 
	text-align: right;
}
/* highlights part of microchip */
span.mc-highlight {
	font-weight: bold; 
	color: #004083
}
